<% include partials/header %>
    <!-- Display -->
    <div id="display">
    <!-- Side bar -->
        <div id="info">
        <div id="users">
            <p id="onlineUsers"><span id="menu"><i class="material-icons">menu</i></span>Online users: <span id="usersCount">0</span></p>
            <hr>
            <div id="broadcasts"></div>
            <ul id="usersList">
            </ul>
        </div>
    </div>
    <!-- Messages -->
        <div id="messages">
            <ul id="msgList">
                
            </ul>
            
        </div>
        
    
    <!-- User Controls -->
    <div id="controlsContainer">
        <!-- Username -->
        <div id="userNameSection" class="controls userTextInput">
            <form action="#">
                <input type="text" name="usernameInput" id="usernameInput" class="textInput" placeholder="Pick a username" required maxlength="16" autofocus>
                <button type="submit" id="usernameSubmit" class="btn grey">SET</button>
            </form>
        </div>
        <!-- User Controls -->
        <div id="userControls" class="controls userTextInput">
            <form action="#">
                <input type="text" name="msgTextInput" id="msgTextInput" class="textInput" placeholder="Waiting for you wisdom..." disabled autofocus>
                <button type="submit" id="msgSubmitBtn" class="btn" disabled >Send</button>
            </form>
        </div>
    </div>
    <!-- Display End -->
</div>


<script src="/socket.io/socket.io.js"></script>
<% include partials/footer %>