<% include partials/header %>
    <!-- Display -->
    <div id="display">
    <!-- Side bar -->
        <div id="info">
        <div id="users">
            <!-- Users -->
            <label id="onlineUsers"><span id="menu"><i class="material-icons">menu</i></span>ONLINE USERS: <span id="usersCount">0</span></label>
            <div id="broadcasts"></div>
            <ul id="usersList"></ul>
            <!-- Rooms -->
            <label>Active rooms</label>
            <div id="roomsList">
                <ul>
                    <li class="roomItem">Public</li>
                    <li class="roomItem">Private Chat</li>
                    <li class="roomItem">Room3</li>
                    <li class="roomItem">Room3</li>
                    <li class="roomItem">Room3</li>
                    <li class="roomItem">Room3</li>
                    <li class="roomItem">Room3</li>
                </ul>
            </div>
            
        </div>
    </div>
    
    <!-- Messages -->
        <div id="messages">
            <div id="roomsTabs">
                <ul id="tabsList">
                    <li class="tabItem">Public</li>
                    <li class="tabItem">Private</li>
                </ul>
            </div>
            <div id="msgList">
                <ul id="msgUL">
                    
                </ul>
            </div>
        </div>
        
    
    <!-- User Controls -->
    <div id="controlsContainer">
        <!-- Username -->
        <div id="userNameSection" class="controls userTextInput">
            <form action="#">
                <input type="text" name="usernameInput" id="usernameInput" class="textInput" placeholder="Pick a username" required maxlength="16" autofocus>
                <button type="submit" id="usernameSubmit" class="btn grey">SET</button>
            </form>
        </div>
        <!-- User Controls -->
        <div id="userControls" class="controls userTextInput">
                <button id ="newRoom btn" class="btn"><i class="material-icons">add</i></button>
                <button id ="emoji btn" class="btn"><i class="material-icons">mood</i></button>
            <form id="msgForm" action="#">
                
                <input type="text" name="msgTextInput" id="msgTextInput" class="textInput" placeholder="Waiting for you wisdom..." disabled autofocus maxlength="200">
                <button type="submit" id="msgSubmitBtn" class="btn" disabled ><i class="material-icons">send</i>
                </button>
            </form>
        </div>
    </div>
    <!-- Display End -->
</div>


<script src="/socket.io/socket.io.js"></script>
<% include partials/footer %>