<% include partials/header %>
    <!-- Display -->
    <div id="loading"></div>
    <section>
    <div id="display">
    <!-- Side bar -->
        <div id="menu"><i class="small material-icons">menu</i></div>
        <div id="info">
            <div id="onlineUsers">
                <label >ONLINE USERS: <span id="usersCount">0</span></label>
            </div>
        <div id="users">
            <!-- Users -->         
            <div id="usersList">
                    <ul id="usersUL"></ul>
            </div>
            <!-- Rooms -->
            <div id="roomsList">
                <div id="activePublicRooms">
                    <label id="activeRoomLabel"> Active rooms </label>
                    <ul id="roomsUL">
                    </ul>
                </div>
                <div id="addRoomLabel">
                    <label for="">Add New Room </label>
                    <button id="displayForm" disabled><i class="Small material-icons">add</i></button>
                </div> 
                <div id="newRoomForm">   
                    <form action="#">
                        <input type="text" id="newRoomInput" placeholder="New Room Name" maxlength="10" minlength="4">
                        <button id ="newRoomBtn" class="btn-small" disabled><i class="material-icons">send</i></button>
                        <input type="hidden" name="_csrf" value="<%= csrf %>">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Messages -->
        <div id="messages">
            <div id="roomsTabs">
                <ul id="tabsList"></ul>
            </div>
            <div id="msgBoards"></div>
                <div id="userNameSection" class="controls userTextInput">
                    <form action="#">
                        <input type="text" name="usernameInput" id="usernameInput" class="textInput" placeholder="Pick a username" required maxlength="16" autofocus>
                        <button type="submit" id="usernameSubmit" class="btn grey">SET</button>
                        <input type="hidden" name="_csrf" value="<%= csrf %>">
                    </form>
                </div>
            <div id="userControls" class="controls userTextInput">
                <form id="msgForm" action="#">
                    <input type="text" name="msgTextInput" id="msgTextInput" class="textInput" placeholder="Waiting for you wisdom..." disabled autofocus maxlength="200">
                    <button type="submit" id="msgSubmitBtn" class="btn" disabled ><i class="material-icons">send</i></button>
                    <input type="hidden" name="_csrf" value="<%= csrf %>">
                </form>
                <button id ="emoji btn" class="btn"><i class="material-icons">mood</i></button>
            </div>
        </div>
        <!-- DISPLAY ENDS -->
        </div>
    </section>
<script src="/socket.io/socket.io.js"></script>
<% include partials/footer %>