<% include partials/header %>
    <!-- Display -->
    <div id="display">
    <!-- Side bar -->
        <div id="info">
            <label id="onlineUsers"><span id="menu"><i class="material-icons">menu</i></span>ONLINE USERS: <span id="usersCount">0</span></label>
        <div id="users">
            <!-- Users -->         
            <div id="usersList">
                    <ul id="usersUL"></ul>
            </div>
            
            <!-- Rooms -->
            <div id="roomsList">
                    <label for="">Add New Room <button id="displayForm" disabled><i class="Small material-icons">add</i></button></label>
                <form action="#" id="newRoomForm">
                    <input type="text" id="newRoomInput" placeholder="New Room Name" maxlength="10" minlength="4">
                    <button id ="newRoomBtn" class="btn-small" disabled><i class="material-icons">send</i></button>

                </form>
                <div id="activePublicRooms">
                    <label> Active rooms </label>
                    <ul id="roomsUL">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Messages -->
        <div id="messages">
            <div id="roomsTabs">
                <ul id="tabsList"></ul>
            </div>
            <div id="msgBoards"></div>
            <div id="broadcasts"></div>
        </div>
        
    
    <!-- User Controls -->
    <div id="controlsContainer">
        <!-- Username -->
        <div id="userNameSection" class="controls userTextInput">
            <form action="#">
                <input type="text" name="usernameInput" id="usernameInput" class="textInput" placeholder="Pick a username" required maxlength="16" autofocus>
                <button type="submit" id="usernameSubmit" class="btn grey">SET</button>
            </form>
        </div>
        <!-- User Controls -->
        <div id="userControls" class="controls userTextInput">
            
            <form id="msgForm" action="#">
                <input type="text" name="msgTextInput" id="msgTextInput" class="textInput" placeholder="Waiting for you wisdom..." disabled autofocus maxlength="200">
                <button type="submit" id="msgSubmitBtn" class="btn" disabled ><i class="material-icons">send</i></button>
            </form>
            <button id="fullscreenBtn" class="btn"><i class="material-icons">fullscreen</i></button>
            <button id ="emoji btn" class="btn"><i class="material-icons">mood</i></button>
        </div>
    </div>
    <!-- Display End -->
    </div>


<script src="/socket.io/socket.io.js"></script>
<% include partials/footer %>