:root{
    --bgPrimary: #232323;
    --bgSecondry: #333333;
    --textPrimary: #fff;
    --textSecondry: #000;
    --info: #33ccbf;

}

a {
    color: var(--textPrimary);
}
html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    box-sizing: border-box;
    min-height: 100%;
    max-width: 100vw;
}
body{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgSecondry);
    width: 100vw;
    height: 100vh;
    color: var(--textPrimary);
}
hr{
    margin-bottom: 0;
}
#display{
    position: static;
    display: grid;
    grid-template-areas: 'info msg';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    height: 90vh;
}
#info{
    grid-area: info;    
    height: 100%;
    max-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.2s ease-in-out;
}
#info::-webkit-scrollbar {
    display: none;
}
#onlineUsers{
    text-align: center;
    height: 5vh;
    padding: 1vh;
}
.user{
    width: 100%;
    padding: 1vh 1vw;
    position: relative;
}
.user a{
    transition: 0.4s ease-in-out;
}
.user a:hover{
    color: steelblue;
    cursor: pointer;
}
.user:nth-of-type(odd){
    background-color: #232323;
}
#messages{
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    grid-area: msg;
    background-color: var(--bgPrimary);
    scroll-behavior: smooth;
    transition: 0.5s ease-in;
}
#messages::-webkit-scrollbar {
    display: none;
}

#userControls{
    display: none;
}
#usersList{
    margin: 0 auto;
}
#controlsContainer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 200;
    margin: 0 auto;
    padding: 1vh 1vw;
    border-top: 1px solid #c1c1c1;
    height: 10vh;
    background-color: var(--bgPrimary);
}

.controls{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
#usernameInput{
    width: fit-content;
    color: #fff;
}
#msgTextInput{
    max-width: 80vw;
    width: 40vw;
    color: #fff;
}
#msgList{
    position: relative;
    height: 100%;
    width: 90%;
    margin:0;
}
.msgItem{
    position: relative;
    padding: 1vh 1vw;
    width: fit-content;
    max-width: 60vw;
    border-radius: 25px;
    margin: 1vh 0 1vh auto;
}
.myMsg{
    position: relative;
    margin: 1vh 1vw;
}
.systemMsg{
    padding: 1vh 1vw;
    background-color: var(--info);
    color: #000;
    border-radius: 25px;
    width: fit-content;
    margin: 1vh 1vw;
}
#broadcasts{
    background-color: #ddd;
    color: var(--textSecondry);
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
    height: 5vh;
    padding: 1vh 1vw;
    margin: 0 auto;
}
#menu{
    cursor: pointer;
    display: none;
    width: fit-content;
    height: 5vh;
}

#menu i:hover{
    color: steelblue;
}

/* Utilities */

/* Flash Colors */
.danger{
    padding: 1vh 1vw;
    background-color: red;
    border-radius: 25px;
    width: fit-content;
    margin: 1vh 1vw;
}

/* ************* */
/* Media Queries */
/* ************* */
@media screen and (max-width: 768px){
    hr{
        margin:0;
    }
    #display{
        display: grid;
        grid-template-areas: 'info' 
                              'msg'
                             'Controls';
        grid-template-columns: 1fr;
        height: 10vh;
    }
    #info{
        position: relative;
        z-index: 0;
        grid-area: info;
        height: 100vh;
        max-height: 100vh;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 100%;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        transition: 0.8s ease-in;
        grid-area: info;
    }
    #users{
        height: fit-content;
        text-align: center;
    }
    #onlineUsers{
        text-align: center;
        margin: 0;
    }

    #menu{
        display: block;
        position: absolute;
        left: 0;
        margin-left: 2vw;
    }
    .material-icons{
        height: 100%;
        line-height: 1;
    }


    .user{
        width: 100%;
        display: block;
        padding: 1vh 1vw;
        position: relative;
        padding: 1vw;
        margin: 0 auto;
    }
    #messages{
        position: relative;
        z-index: 100;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        opacity: 1;
        width: 100%;
        height: 80vh;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        grid-area: msg;
        scroll-behavior: smooth;
        transition: 0.1s ease-in;
    }
    #msgList{
        margin: 0;
    }
    #controlsContainer{
        position: absolute;
        grid-area: controls;
        width: 100vw;
        z-index: 200;
        bottom: 0;
        margin: 0 auto;
        height: 10vh;
        background-color: #232323;
    }

    #broadcasts{
        background-color: #ddd;
        color: var(--textSecondry);
        text-align: center;
        font-size: 0.7rem;
        width: 100%;
        height: 5vh;
        padding: 1vh 1vw;
        margin: 0 auto;
    }

    #msgTextInput {
        max-width: 80vw;
        width: 60vw;
        color: #fff;
    }
}